body {
    background: linear-gradient(rgb(193, 123, 111), rgb(105, 86, 108));
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

summary {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.accordion {
    box-shadow: 40px rgba(0, 0, 0, 0.208);
    width: 82vh;
    overflow: hidden;
    border-radius: 20px;
}

.item_first {
    background-color: #f8b195;
}
.item_second {
    background-color: #f67280;
}
.item_third {
    background-color: #cd6c84;
}
.item_four {
    background-color: #6c5b7b;
}
.item_five {
    background-color: #355c7d;
}
.accordion__item {
    transition: 0.3s ease-in-out;
}

.accordion__title {
    width: 100%;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
    transition: 0.3s all;
    position: relative;
}


.accordion__title:hover {
    background-color:rgb(185, 148, 191);
}

img {
    width: 50vh;
    display: block;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

.memes:hover {
    transform: scale(1.1);
}

.memes{
    padding: 10px 10px 30px;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.accordion__item[open] .memes{
    animation: slide .4s ease-in-out;
}


@keyframes slide {
    0%    {opacity: 0; transform:  translate(0, -20px); }
    100%  {opacity: 1; transform:  translate(0, 0);}
}


.close {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 20px;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}
.accordion__item[open] .close{
    display: block;
    transform: rotate(0deg);
}

@media all and (max-width: 820px) {
    body {
        font-size: 20px;
    }
    .close {
        font-size: 15px;
    }
    .accordion {
        width: 90vh;
    }
}

@media all and (max-width: 404px) {
    body {
        font-size: 20px;
    }
    .close {
        font-size: 15px;
    }
    .accordion {
        width: 75vh;
    }
}

@media all and (max-width: 320px) {
    body {
        font-size: 15px;
    }
    .close {
        font-size: 12px;
    }
    .accordion {
        width: 70vh;
    }
}